.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background-color: var(--clr-primary);
  border-radius: 12px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.content-body {
  flex: 1;
}
